users_controller_tests_and_methods
<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>


<div class="user_show">
  <section class="users_products">
    <h2><%=@user.username%>'s Products</h2>
      <% @user.products.each do |product|%>
        <article class="product">
          <h3><%= link_to product.name, product_path(product.id) %></h3>
            <ul>
              <li>
                <strong>Price:</strong> $<%= product.price %>
              </li>
            </ul>
          </article>
      <% end %>
  </section>

  <section>
    <p>
      Want to contanct <%=@user.username%>? Email them at <%=link_to @user.email%>
    </p>
  </section>
</div>
