<h1>Thank you for your order!</h1>
<p>Order Status: <%= @order.status.titleize %></p>
<p>Order Placed: <%= @order.purchase_datetime %></p>
<ul>
  <% @order.orderitems.each do |orderitem| %>
    <li>
      <strong><%= link_to orderitem.product.name, product_path(orderitem.product_id) %></strong>
      Quantity: <%= orderitem.quantity %>
      Subtotal: $<%= orderitem.quantity * orderitem.product.price %>
    </li>
  <% end %>
</ul>
<strong>Total: $<%= sprintf('%.2f', @total) %></strong>
