<h1>Orders#create</h1>
<p>Find me in app/views/orders/create.html.erb</p>

<h2>Edit product</h2>

<h3>Add categories</h3>
<%= form_tag(product_path(@product.id), method: :patch) do %>
  <%= label_tag(:categories, "Categories") %>
  <%= select_tag "categories", options_for_select(@categories, params["categories"]), include_blank: "none", :multiple => true %>
  <%= submit_tag("Submit", class: "button") %>
<% end %>


<h3>Create a new category</h3>
<%= form_tag(product_path(@product.id), method: :patch) do %>
  <%= label_tag(:category, "Category") %>
  <%= text_field_tag(:category) %>
  <%= submit_tag("Submit", class: "button") %>
<% end %>


<%= form_tag(product_path(@product.id), method: :patch) do %>
  <%= label_tag(:categories, "Categories") %>
  <%= label_tag(:categories, "Categories") %>
  <%= label_tag(:categories, "Categories") %>
  <%= label_tag(:categories, "Categories") %>
<% end %>

<h3>Add categories</h3>


  <%= select_tag "categories", options_for_select(@categories, params["categories"]), include_blank: "none", :multiple => true %>
  <%= submit_tag("Submit", class: "button") %>



<h3>Create a new category</h3>
<%= form_tag(product_path(@product.id), method: :patch) do %>
  <%= label_tag(:category, "Category") %>
  <%= text_field_tag(:category) %>
  <%= submit_tag("Submit", class: "button") %>
<% end %>


<%= f.label :"Add a new category" %>
<%= f.text_field :categories  %>
<%= form_tag(product_path(@product.id), method: :patch) do %>
  <%= label_tag(:name, "Name") %>
  <%= text_field_tag(:name, @product.name) %>
  <%= label_tag(:price, "Price") %>
  <%= text_field_tag(:price, @product.price) %>
  <%= label_tag(:quantity, "Quantity") %>
  <%=  text_field_tag(:quantity, @product.quantity) %>
  <%= label_tag(:categories, "Categories") %>
  <%= select_tag "categories", options_for_select(@categories, params["categories"]), include_blank: "none", :multiple => true %>
  <%= label_tag(:category, "Category") %>
  <%= text_field_tag(:category) %>
  <%= submit_tag("Submit", class: "button") %>
<% end %>




<!-- Working form_fo -->
<%= form_for @product do |f| %>
  <%= f.label :Name %>
  <%= f.text_field :name %>
  <%= f.hidden_field :merchant_id %>
  <%= f.label :Price %>
  <%= f.text_field :price %>
  <%= f.label :"Choose a category" %>
  <%= f.label :Quantity %>
  <%= f.text_field :quantity %>
  <%= f.select(:categories, Product.categories, {include_blank: "none"}, {multiple: true})  %>
  <%= f.submit submit_name, class: "button"  %>
<% end %>
