<h1>
  <span>Your Cart</span>
  <% if @cart.orderitems.length > 0 %>
    <%= link_to "Check Out", checkout_form_path, class: 'button' %>
  <% end %>
</h1>
<ul>
  <% if @cart.orderitems.count > 0 %>
    <% @cart.orderitems.each do |item| %>
      <li>
        <%= item.product.name %>
        <%= form_tag(update_quantity_path(@cart.id, item.product.id), method: :patch) do %>
          <%= label_tag(:quantity, "Quantity (max #{item.product.quantity})") %>
          <%= number_field_tag(:quantity, item.quantity, in: (1..(item.product.quantity))) %>
          <%= submit_tag("Submit", class: "button", method: :patch) %>
        <% end %>
        <%= link_to "Delete", remove_from_cart_path(@cart.id, item.product.id), method: :delete %>
      </li>
    <% end %>
  <% end %>
</ul>
