<h2>Your Order</h2>

<section class="">

<% if @cart.order_products.length == 0 %>
  <%= "Get to shopping! Your cart is empty!" %>
<% else %>>

<% @cart.order_products.each do |entry| %>
  <ol>
    <li>
      <ul>
        <li>
          Product: <%= entry.product.name%>
        </li>
        <li>
          Unit Cost: <%= entry.product.price %>
        </li>
        <li>
          Quantity: <%= entry.quantity %>
        </li>
        <li>
          Product Subtotal: <%=entry.product.price * entry.quantity %>
        </li>
        <li>
          <%= form_for entry, url: order_product_path(entry.id), method: :patch do |f|  %>
          <%= f.label :quantity %>
          <%= f.text_field :quantity %>
          <%= f.submit "edit"%>
          <% end %>
          Edit:<%= link_to "Edit Item", edit_order_product_path(entry.id), class:"button" %>
        </li>
        <li>
          Delete: <%= link_to "Delete Item", order_product_path(entry.id), method: :delete, data: {confirm: "Are you sure you want to remove #{entry.product.name} from cart?"}, class:"button" %>
        </li>
        <hr />
      </ul>
    </li>
  </ol>
<% end %>
<ul>
  <li>
    Subtotal:
  </li>
  <li>
    Total:
  </li>
</ul>
<%= link_to("Proceed to Checkout", checkout_path, class:'button') %>
<% end %>

</section>


<!-- item.product -->
