<h1><%=@merchant.username%>'s account</h1>

<ul>
  <li> <strong>Joined: </strong> <%= pretty_date(@merchant.created_at) %> </li>
  <li> <strong>Email: </strong>  <%= @merchant.email %></li>
</ul>

<% if @merchant.products.count > 0 %>
  <table>
    <tr>
      <th scope="columns">Product</th>
      <th scope="columns">Quantities</th>
      <th scope="columns">Launched</th>
      <th scope="columns">Update</th>
      <th scope="columns">Retire</th>
    </tr>
    <%  @merchant.products.each do |product| %>
      <tr>
        <td><%= link_to product.name, product_path(product.id) %></td>
        <td><%= product.quantity %></td>
        <td><%= pretty_date(product.created_at) %></td>
        <td><%= link_to "Update", edit_product_path(product.id), class: "button" %></td>
        <td><%= link_to "Retire", class: "button" %></td> <%# TODO: ADD RETIRE PATH %>
      </tr>
    <%  end %>
  </table>
  <% else %>
    <p>No product to show yet!</p>
  <% end %>

<%= link_to "Create a product", new_product_path, class: "button" %>
<%= link_to "See orders", class: "button" %> <%# TODO: ADD ORDER FUFILLEMENT PATH %>
