<h1>Your Billing Information</h1>

<ul>
  <li>Email Address: <%= @billing_data.email %></li>
  <li>Name on Card: <%= @billing_data.credit_card_name %></li>
  <li>Mailing Address: <%= @billing_data.mailing_address %></li>
  <li>Credit Card Number: <%= @billing_data.credit_card_number %></li>
  <li>CVV: <%= @billing_data.credit_card_cvv %></li>
  <li>Billing Zipcode: <%= @billing_data.billing_zip_code %></li>
</ul>

<ul class="menu">
  <%= link_to "Edit Billing Information", edit_billing_datum_path(@billing_data.id), class:"button" %>
  <%= link_to "Confirm Order", checkout_path%>
</ul>
