<h1>Treebay Products</h1>
<%= form_tag(root_path, method: :get) do %>
  <%= label_tag(:category, "Category") %>
  <%= select_tag "category", options_for_select(@categories, params["category"]), include_blank: "all" %>
    <%= label_tag(:merchant, "Merchant") %>
    <%= select_tag "merchant", options_from_collection_for_select(Merchant.all, "id", "username", selected: params[:merchant].to_i), include_blank: "all" %>
  <%= submit_tag("Submit", class: "button") %>
<% end %>
<ul>
  <% @products.each do |product| %>
    <li><%= link_to(product.name, product_path(product.id)) %> <%= product.categories %> <%= product.merchant.username %></li>
  <% end %>
</ul>
