<h1>Treebay Products</h1>
<%= form_tag(root_path, method: :get) do %>
  <%= label_tag(:category, "Category") %>
  <%= select_tag "category", options_for_select(["all", "indoor", "outdoor"], ["all"] ) %>
  <%= submit_tag("Submit", class: "button") %>
<% end %>
<ul>
  <% @products.each do |product| %>
    <li><%= link_to(product.name, product_path(product.id)) %></li>
  <% end %>
</ul>
