
<h3>details for:</h3>
<section class="product-details">
  <h3><%= @product.name.upcase %> </h3>
  <%=params%>
  <p>
    <%= @product.description %>
  </p>

  <ul>
    <li>
      <strong>Price:</strong> $<%= @product.price %>
    </li>
    <li>
      <strong>Sold By: </strong><%= link_to @product.user.username, user_path(@user.id) %>
    </li>
    <li>

      <%=link_to "Add to Cart", add_product_path(@product.id), method: :post %>
    </li>
  </ul>
</section>

<section class="reviews">
  <h4>What People are Saying!</h4>

  Leave a Review <%= link_to "new review", new_review_path(product_id: @product.id) %>

  <% @product.reviews.each do |review| %>
    <ul>
      <li>Rating: <%= review.rating %> / 5</li>
      <li><%= review.text %></li>
    </ul>
  <% end %>
</section>
