
<h3>details for:</h3>
<section class="product-details">
  <h3><%= @product.name.upcase %> </h3>
  <p>
    <%= @product.description %>
  </p>

  <ul>
    <li>
      <strong>Price:</strong> $<%= @product.price %>
    </li>
    <li>
      <strong>Sold By: </strong><%= link_to @product.user.username, user_path(@user.id) %>
    </li>
    <li>
      Leave a Review <%= link_to "new review", new_review_path(product_id: @product.id) %>
    </li>
  </ul>
</section>
