
<h3>details for:</h3>
<section class="product-details">
  <h3><%= @product.name.upcase %> </h3>
  <p>
    <%= @product.description %>
  </p>

  <ul>
    <li>
      <strong>Price:</strong> $<%= @product.price %>
    </li>
    <li>
      <strong>Sold By: </strong><%= link_to @product.user.username, user_path(@user.id) %>
    </li>
  </ul>
</section>

  <ul>
    <li>
        <%= form_tag do %>
        <%= label_tag(:quantity, "Quantity") %>
        <%= text_field_tag(:quantity) %>
        <%= submit_tag("Add to Cart")%>
      <% end %>
    </li>
  </ul>


<section class="reviews">
  <h4>What People are Saying!</h4>

  
<% if @current_user_is_not_product_owner %>
  <h3><%= link_to "Leave a Review!", new_new_review_path(@product) %></h3>
<% end %>


  <% @product.reviews.each do |review| %>
  <ul>
    <li>
      Rating: <%= review.rating %> / 5
    </li>
    <li>
      <%= review.text %>
    </li>
  </ul>
  <% end %>


</section>
