<%# <h1>Leave a review for <%=Product.find_by_id(params[:pass_product_id]).name </h1> %>
<h1>Leave a review for</h1>
<%= form_for @review do |f| %>
  <%= f.hidden_field :product_id %>
  <%= f.label :Rating %>
  <%= f.select :rating, options_for_select(1..5) %>
  <%= f.label :Title %>
  <%= f.text_field :title %>
  <%= f.label :Review %>
  <%= f.text_area :review_text %>
  <%= f.submit "submit" %>
<% end %>
