<h1>Reviews#new</h1>
<p>Find me in app/views/reviews/new.html.erb</p>

<section>
<%=form_for @review do |f| %>
  <%= f.label :rating %>
  <%=f.select :rating, (1..5) %>

  <%= f.label :text %>
  <%= f.text_area :text %>

  <%= f.submit class: "button" %>
  <% end %>
</section>
