<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= session[:order_id] %> <%# TODO: cleanup before submitting %>
    <%= session[:merchant_id] %> <%# TODO: cleanup before submitting %>
    <header>
      <h2><%= link_to "Treebay", root_path%></h2>
      <nav>
        <ul>
          <li><%= link_to "Cart", show_cart_path%></li>
          <li>  <% if session[:merchant_id] %>
              <%= link_to "Log Out", logout_path, method: :post, class: "button" %>
              <%= link_to "Add new product", new_product_path, method: :get, class: "button" %>
            <% else %>
              <%= link_to "Log in with Github", '/auth/github', class: "button" %>
            <% end %>
          </li>
        </ul>
      </nav>
    </header>
    <section class="flash">
      <h3><%= flash[:status] == :error ? "A problem occurred: " : "" %><%= flash[:result_text] %></h3>
      <% if flash[:messages] %>
        <ul>
          <% flash[:messages].each do |name, problems| %>
            <% problems.each do |problem| %>
              <li><%= name %>: <%= problem %></li>
            <% end %>
          <% end %>
        </ul>
      <% end %>
    </section>


    <%= yield %>

  </body>
</html>
